
<div fxLayout fxLayout.xs="column" fxLayout.sm="column" class="fullScreenContainer" style="overflow-y: auto;" fxLayoutAlign="space-around start">
  <div fxLayout="column" class="box" fxFlex="20" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxLayoutAlign="start center" style="overflow-y: auto;margin-top: 2%;height: 90%;" >
    <div fxLayout="row" class="filter-title filtri" fxLayout fxLayoutAlign="center center" >
      <mat-icon >filter_alt</mat-icon>Compila il modulo di Assegnazione
    </div>
      <mat-divider></mat-divider>
      <form [formGroup]="formMacro" fxLayout="column"  (submit)="submit()" style="width: 60%;margin-top: 10%;" >

        <mat-form-field >
          <mat-label>Distributore</mat-label>
          <input type="text"
                 aria-label="Number"
                 matInput
                 formControlName="distributore"
                 [matAutocomplete]="autoDistributore">
          <mat-autocomplete #autoDistributore="matAutocomplete" [displayWith]="displayFnDistributore.bind(this)">
            <mat-option *ngFor="let option of filteredOptionsDistributore | async" [value]="option">
              {{option.utente.nome}}
            </mat-option>
          </mat-autocomplete>

          <mat-error>
            <div *ngIf="!formMacro.valid">
              Selezionare una opzione
            </div>
          </mat-error>
        </mat-form-field>

        <mat-form-field >
          <mat-label>Tipologia biglietto</mat-label>
          <input type="text"
                 aria-label="Number"
                 matInput
                 formControlName="tipologia"
                 [matAutocomplete]="auto"
                 required>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.titolo}}
            </mat-option>
          </mat-autocomplete>

          <mat-error>
            <div *ngIf="!formMacro.valid">
              Selezionare una opzione
            </div>
          </mat-error>
        </mat-form-field>


          <mat-label class="margini-verticali">Fascia di età:</mat-label >
          <mat-radio-group [formControl]="formMacro['controls'].eta" aria-label="Select an option" required>
            <mat-radio-button value="true" style="margin-right: 10%;" >Adult</mat-radio-button>
            <mat-radio-button value="false" >Child</mat-radio-button>
          </mat-radio-group>

          <!-- <mat-form-field class="margini-verticali">
            <mat-label>Quantità biglietti:</mat-label>
            <input matInput type="number" formControlName="numeroBiglietti" required>
          </mat-form-field> -->

          <mat-form-field class="margini-verticali">
            <mat-label>Numero di serie di partenza:</mat-label>
            <input matInput type="number" formControlName="numeroPartenzaSerie" required>
          </mat-form-field>

          <mat-form-field class="margini-verticali">
            <mat-label>Numero di serie finale:</mat-label>
            <input matInput type="number" formControlName="numeroFinaleSerie" required>
          </mat-form-field>

          <mat-form-field class="margini-verticali">
            <mat-label>Prezzo biglietto assegnato:</mat-label>
            <input matInput type="number" formControlName="prezzoValidazione">
          </mat-form-field>

        <div fxLayout fxLayoutAlign="center" class="margini-verticali">
          <button mat-raised-button color="primary" [disabled]="!formMacro.valid">
              <mat-icon>filter_alt</mat-icon>Assegna
          </button>
        </div>

      </form>

  </div>

  <div fxLayout="column" fxFlex="70" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100"  style="overflow-y: auto;height: 90%; width: 90%;margin-top: 2%;" >

    <div class="fitriBox">
      <div fxLayout="column" class="listColumn tableBg" >
        <div fxLayout="row" class="filter-title filtriLarghi" fxLayout fxLayoutAlign="center center" >
          <mat-icon >filter_alt</mat-icon>Filtri biglietti cartacei disponibili
        </div>
          <mat-divider></mat-divider>
          <form [formGroup]="formFiltriTabella" fxLayout="row" class="filter-title" fxLayout fxLayoutAlign="center center" style="min-height: 100px;" (submit)="submitTabella()">
            <div fxFlex="30" fxLayoutAlign="center center">
              <mat-form-field >
                <mat-label>Tipologia biglietto</mat-label>
                <input type="text"
                       aria-label="Number"
                       matInput
                       formControlName="tipologia"
                       [matAutocomplete]="autoTabella"
                       required>
                <mat-autocomplete #autoTabella="matAutocomplete" [displayWith]="displayFnTabella.bind(this)">
                  <mat-option *ngFor="let option of filteredOptionsTipologiaFiltri | async" [value]="option">
                    {{option.titolo}}
                  </mat-option>
                </mat-autocomplete>

                <mat-error>
                  <div *ngIf="!formFiltriTabella.valid">
                    Selezionare una opzione
                  </div>
                </mat-error>
              </mat-form-field>

            </div>

            <div fxFlex="30" fxLayout="row"   fxLayoutAlign="center center">
              <mat-label fxFlex="40">Fascia di età:</mat-label >
              <mat-radio-group fxFlex="40" [formControl]="formFiltriTabella['controls'].eta" aria-label="Select an option" required>
                <mat-radio-button value="true" style="margin-right: 10%;" >Adult</mat-radio-button>
                <mat-radio-button value="false" >Child</mat-radio-button>
              </mat-radio-group>
            </div>


            <div fxFlex="30" fxLayoutAlign="center center">
              <button mat-raised-button style="flex:none" color="primary" [disabled]="!formFiltriTabella.valid">
                <mat-icon>filter_alt</mat-icon> Applica filtri
              </button>
            </div>
          </form>

      </div>
    </div>
    <div *ngIf="listaBiglietti.length == 0" fxLayout fxLayoutAlign="center center" style="font-size: 16px;margin: 100px;"> <strong> Nessun biglietto trovato con i filtri selezionati</strong> </div>
    <div fxLayout="column" fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100"  style="overflow-y: auto;height: 100%;margin-top: 20px;" *ngIf="listaBiglietti.length > 0">

      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field style="margin-right: 1%;" fxFlex="20">
          <mat-label>Cerca</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ricerca a tutto campo" #input>
        </mat-form-field>
        <div fxFlex></div>
      </div>
        <div *ngIf="listaBiglietti.length >= 0" class="mat-elevation-z8" fxFlex="100" style="overflow-y: auto;">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="tipologiaBiglietto">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPOLOGIA BIGLIETTO </th>
              <td mat-cell *matCellDef="let row"> {{row.tipologiaBiglietto.titolo}} </td>
            </ng-container>

            <ng-container matColumnDef="numeroDiSerie">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> SERIALE </th>
              <td mat-cell *matCellDef="let row"> {{row.numeroDiSerie}} </td>
            </ng-container>

            <ng-container matColumnDef="bigliettoFull">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> FASCIA D'ETA' </th>
              <td mat-cell *matCellDef="let row"> {{row.bigliettoFull}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderHFC"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Nessun elemento corrisponde al filtro di ricerca "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </div>

    </div>

  </div>

</div>



