$main_color: #03A9F4; //#42aaf5;

$header_color: #373737;
$toolbar_color: #f2f2f2;
$bg_color: #F4F4F4;

$error_color: #b71c1c;
$success_color: #2e7d32;

$icon_color: #606060;

// grigio #333B43 -> BG rgb(250, 255, 253) verdino bianco or #F9FDFD azzurino bianco -> testo header whitesmoke
