.main-container {
    height: 100%;
    width: 100%;
    padding: 5px;
}


.title {
    color: #333;
    font-style: normal;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 34px;
    text-shadow: transparent;
    margin-bottom: 1%;
    //line-height: 56;

}

.subtitle {
    color: #aaa;
    font-style: normal;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 28px;
    //line-height: 56;
    text-shadow: transparent;
}

table {
    width: 100%;
  }

  td, th {
    width: 25%;
  }

.ok-color {
    background-color:#b2db9e;
    border: 2px solid #91cc75;
    color: white;
}
  
.err-color {
    background-color: #f39494;
    border: 2px solid #ee6666;
    color: white;
  }

.warn-color {
    background-color: #fac858;
    border: 2px solid #ffd700;
    color: white;
}

.mat-column-tipologia {
    width: 40%;
}

.mat-column-bigliettiPresenti {
    text-align: center;
    width: 15%;
}

.mat-column-nFull {
    text-align: center;
    width: 40%;
}

// .mat-column-nChild {
//     text-align: center;
//     width: 20%;
// }

.mat-column-azioni {
    text-align: center;
    width: 5%;
}