.titoloMobileCard {
    font-weight: 700;
    font-size: 16px;
}

.tipoMobile{
    font-size: 14px;
    .highlight700 {
      font-weight: 600;
    }
  }

.descrizioneMobile {
    font-size: 14px;
}

.hidden {
  display: none !important;
}
