@import "../../../../../assets/scss/_baseValues.scss";

.box{
  box-shadow: 5px 5px 5px rgb(190, 190, 190);
  height: 90%;
  background-color: white;
}

.filtri {
  background-color: $header_color;
  color: #F4F4F4;
  font-family:"Helvetica Neue", sans-serif;
  font-size: 22px;
  height: 56px;
  width: 100%;
}

.margini-verticali{
  margin-top: 5%;
  margin-bottom: 5%;
}

.filtriLarghi {
  background-color: $header_color;
  color: #F4F4F4;
  font-family:"Helvetica Neue", sans-serif;
  font-size: 22px;
  height: 56px;
}

.fitriBox {

  background-color: white;
  box-shadow: 5px 5px 5px rgb(190, 190, 190);
}

td.mat-cell, th.mat-header-cell {
  text-align: center;
  justify-content:center;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
