.item {

  background-color: #62f003;
}

.box {
  display: flex;
  flex-flow: row wrap;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-footer-cell {
  background-color: rgb(158, 158, 158);
  }

td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}
