<div class="mainContainer" fxLayout="column" fxLayoutAlign="start center">
    <mat-card class="example-card" style="margin: 0% 2% 0% 2%;" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title class="cardTitle">Modifica Password</mat-card-title>
        <div class="form-container">
            <form [formGroup]="passwordForm">
                <mat-form-field class="form-field" appearance="fill" style="margin-bottom: 15px;">
                    <mat-label>Inserisci nuova password</mat-label>
                    <input formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'" required>
                    <mat-error *ngIf="passwordForm.hasError('required', 'password')">
                        Inserisci la nuova password.
                    </mat-error>
                    <mat-error *ngIf="passwordForm.get('password').hasError('pattern')">
                        La password deve essere lunga almeno 8 caratteri e deve contenere almeno un numero.
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Conferma password</mat-label>
                    <input formControlName="confermaPassword" matInput [type]="hideConfirmPassword ? 'password' : 'text'" [errorStateMatcher]="matcher" required>
                    <mat-error *ngIf="passwordForm.hasError('notSame')">
                        Le password non coincidono.
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                    <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </div>
        <div>
            <button mat-raised-button color="primary" [disabled]="passwordForm.invalid" (click)="cambiaPassword()">
              Conferma
            </button>
        </div>
    </mat-card>
</div>
